/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    opacity: .9;
    transition: all 2s;
}
/*
.centrar{
    width: 100%;
}

.carousel {
    position: absolute;
    top: 20%;
    width: 30%;
    height: 300px;
    margin: auto;
    overflow: hidden;
    transition: all .6s;
}

.carousel-inner {
    width: 100%;
    height: 200px;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-inner a {
    width: 100%;
    height: auto;
    display: block;

}

.carousel-inner a img{
    border: 1px solid black;
    width: 22rem;
    padding: 0 15%;
}

.carousel-inner a p{
    width: 100%;
    height: 50%;
    color: rgb(244, 247, 250);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 2px rgb(41, 135, 133);
}

button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}


.prev {
    left: 10px;
}

.next {
    right: 10px;
}
/*
.carousel div{
    display: none;
}

.centrar{
    margin: 0;
    padding: 0;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    opacity: .4;
    transition: all .8s;
}
.centrar:hover{
    opacity: 9;
}
/*
.centrar:hover .carousel div{
    transition: all .5s;
    display: flex;
}*/