@import url(/opciones/opcionezq.css);

body{
    background-color: rgb(245, 240, 233);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
/*prueba cuadro asuntos*/

/* styles.css */


header {
    width: 30%;
    height: 8%;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: fixed;
    top: 0;
    right: -5%;
    background-color: cadetblue;
    border-bottom-left-radius: 24px;
}

form {
    margin: 1rem;
}

input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    background: #555;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #777;
}
/*------------------------------------------------*/
main {
    
    padding: 1rem;
    margin-top: 2%;
}

section {
    margin-bottom: 2rem;
    margin-top: 15%;
}

.cuadros h2 {
    background-color: rgb(198, 216, 222);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px solid #333;
    border-radius: 24px;
    padding-bottom: 0.5rem;
}
main section ul li{
    transition: all .5s;
}

section ul li a{
    text-decoration: none;
    color: #333;
}

section ul li a:hover{
    color: white;
    font-weight: bold;
}
section ul li:hover a{
    color: white;
}

section ul li:hover {
    background-color: #971f1f;
}

.cuadros{
    background-color: #CBE2EE;
    margin-top: 5%;
    width: 50%;
    border: 1px solid rgb(227, 217, 217);
    margin-left: 25%;
}
/*informacion asuntos*/
.info-asuntos{
    position: fixed;
    width: 15%;
    top: 20%;
    right: 0;
    border: 1px solid black;
    background-color: brown;
    overflow: scroll;
    height: 10px;
    transition: all .8s;
}
.info-asuntos:hover{
    color: white;
    background-color: #333;
    height: 200px;
}
.info-asuntos h3{
    text-align: center;
    color: #ccc;
    border-bottom: #971f1f;
}
.info-asuntos p{
    padding: 2%;
    font-size: .8em;    
}
.info-asuntos::-webkit-scrollbar{
    scroll-behavior: smooth;
    
}

/*barra principal*/
.btop{
    position: fixed;
    margin: 0;
    padding: 0;
    margin-bottom: 3%;
    top: 0;
    width: 100%;
    height: 3%;
    background-color: brown;
    box-shadow: 1px 1px 2px rgb(180, 180, 237);
    /*background-image: linear-gradient(to bottom right,  rgb(97, 154, 207) -60%, #fcfcfc 100%); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    z-index: 3000;
}
.btop a{
    transition: all .5s;
    text-decoration: none;
    color: #ffffff;
    font-size: .8em;
}

.btop a:hover{
    font-size: 1.1em;
}
/*------------------------------------*/

@media only screen and (min-width: 300px) and (max-width: 768px){
    .cuadros h2{
        font-size: .9em;
    }
    .cuadros ul li{
        font-size: .6em;
        margin-bottom: 5px;
    }
    .info-asuntos{
        width: 20%;
    }
    .info-asuntos p{
        font-size: .7em;
    }
    header{
        top: -4%;
        right: -5%;
    }
    form{
        background-color: cadetblue;
    }
    form input{
        font-size: .5em;
        width: 40%;
        height: 5px;
    }
    form button{
        width: 30%;
        font-size: .5em;
        padding: 1%;
    }
}